<div class="group">
	<input type="{{ type }}" required>
	<span class="highlight"></span>
	<span class="bar"></span>
	<label>{{label}}</label>
	<span class="material-icons input-icon">{{icon}}</span>
</div>