{{#> FormLayout }}
{{#> Card }}
<div class="login">
	<h2 class="card__title">
		Sign up
	</h2>
	{{> Input name="email" label="E-mail" type="email" autocomplete="email" }}
	{{> Input name="login" label="Login" type="text" autocomplete="off" }}
	{{> Input name="first_name" label="Name" type="text" autocomplete="given-name" }}
	{{> Input name="second_name" label="Last name" type="text" autocomplete="family-name" }}
	{{> Input name="phone" label="Phone" type="text" autocomplete="tel" }}
	{{> Input name="password" label="Password" type="password" autocomplete="new-password" }}
	{{> Input name="repeatPassword" label="Repeat Password" type="password" autocomplete="new-password" }}
	<div class="login__actions">
		{{> Button label="Sign up" type="submit" color="primary" class="full-width" }}
		{{> Button label="Cancel" type="button" color="basic" class="full-width" }}
	</div>
	{{> Link label="Sigh in" page="login" }}
</div>
{{/ Card}}
{{/ FormLayout}}
