{{#> ProfileLayout }}
{{#> Card class='full-width gap-2' }}
{{> GoBackButton color="primary" page="profile" }}

<h1>Change password</h1>
{{> Input name="oldPassword" label="Old password" type="password" }}
{{> Input name="newPassword" label="New password" type="password" }}
{{> Input name="repeatPassword" label="Repeat password" type="password" }}

<div class="profile-page__actions">
	{{> Button label="Save" type="submit" color="primary" class="full-width" }}
</div>
{{/ Card}}
{{/ ProfileLayout}}
