.message-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 800px;
    margin: auto;

    [name="message"] {
        border-radius: 1rem 1rem 0 0;
        height: 3rem;
    }
}
