<div class="chat-list-item {{#if active}}chat-list-item_active{{/if}}">
	{{> Avatar label="Sigh in" page="login" }}
	{{!-- {{#if active}}
		<div class="chat-list-item_active"></div>
	{{/if}} --}}
	{{name}}
	<br>
	chat-list-item
</div>