<div class="chat-container">
	<div class="chat-container__messages">
		{{> Link label="Profile >" page="profile" }}
		{{> Input label="Search" icon="search" type="text" }}

		<div class="chat-container__messages-list">
			{{#each items}}
			{{> ChatListItem item=this}}
			{{/each}}
		</div>
	</div>
	<div class="chat-container__selected-chat-content">
		<div class="chat-container__header__title">
			Chat
		</div>
	</div>

	{{!-- {{> SendMessageForm}} --}}
</div>