:root {
	--color-basic-font: #222;
	--color-light-text: #999;
	--color-accent: green;
	--color-accent-background: #c2fbd7;
	--color-basic-background: #f5fafa;
	--color-dark-border: #777;
	--color-medium-border: #999;
	--color-light-border: #f5efef;
	--color-message-background: #E4FDF0;
}

.color1 {color: #3f0b28;}
.color2 {color: #9f143e;}
.color3 {color: #dfa2fa;}
.color4 {color: #ffc3f4;}
.color5 {color: #ffecf4;}

@media (prefers-color-scheme: light) {

}
