{{#> FormLayout }}
{{#> Card class="gap-2" }}
<h1>Navigation page</h1>
{{> Link label="Profile >" page="profile" size="large" }}
{{> Link label="Messenger >" page="chat" size="large" }}
{{> Link label="Sigh up >" page="register" size="large" }}
{{> Link label="Sigh in >" page="login" size="large" }}
{{> Link label="Edit profile data >" page="edit-profile" size="large" }}
{{> Link label="Change password >" page="change-password" size="large" }}
{{> Link label="Server error >" page="server-error" size="large" }}
{{> Link label="Client error >" page="client-error" size="large" }}
{{/ Card}}
{{/ FormLayout}}
