<div class="group">
	{{#if @partial-block}}
		{{> @partial-block }}
	{{/if}}
	<span class="highlight"></span>
	<span class="bar"></span>
	<label>{{label}}</label>
	<span class="material-icons input-icon">{{icon}}</span>
	<error-message></error-message>
</div>
